<h1>Contato</h1>
<p ng-show="mensagem.texto">
  {{mensagem.texto}}
</p>

<form ng-submit="salva()">
  <div class="form-group">
    <label for="nome">Nome completo</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="nome" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required ng-model="contato.nome">
      </div>
    
    <label for="email">Email</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="email" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" ng-model="contato.email" required>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">@aluno.ifsp.edu.br</span>
        </div>
      </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="#/" class="btn btn-default">Voltar</a> 
  </div>

</form>
