<h1>Curso</h1>

<label>Curso</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Course" aria-label="Username" aria-describedby="basic-addon1" value=""> 
  </div>

<label>Coordenador</label>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Coordenator" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <p>Contatos cadastrados: {{cursos.length}}</p>

<button class="btn btn-primary">Salvar</button>
<button type="button" class="btn btn-outline-dark">Voltar</button>